@page "/welcome"

<h1>Bienvenido a mi aplicaci칩n</h1>

<p>Descripci칩n de la imagen</p>

<img src="c:\Users\Ayde Posada\OneDrive - Tecnologico de Antioquia Institucion Universitaria\Im치genes\20240728_103541.jpg" alt="Bienvenido a tu nueva aplicaci칩n." style="width:100%; max-width:600px;" />

<p>Bienvenidos a mi proyecto. Necesito que se vea la imagen como tal.</p>
